*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #18181b;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100vw;
    height: 60px;
    color: white;
}
.left{
    display: flex;
   color: lightgray;
   text-shadow: 2px;
   font-family: 'Rubik', sans-serif;
 
}
.left span{
    display: inline-block;
    color:#f43f5e;
    font-size: 2em;
     font-weight: bolder;
}


.right .nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    font-weight: 500;
}


.right ul li{
    list-style: none;
    padding: 10px 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    
}
a{
    text-decoration: none;
    color:white;
}
.right ul .active{
    padding:10px 20px;
    
}
.right ul .dinner{
    padding:10px 15px;
}
.right ul li:hover{
    background-color: #27272a;
    color: white;
    transition: 0.5s;
    animation-delay: 0.5s;
}


 #search button{
    height: 30px;
    width: 140px;
    padding:5px;
    border-radius: 3px;
    background-color: #e11d48;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}
 #search button:hover{
    background-color: #f43f5e;
    transition:0.5s;
    delay:0.5s;
}

 #search span{
    display: inline-block;
}
 #search input{
    height: 30px;
    width: 400px;
    padding: 10px;
   
    border-radius: 3px;
    border: none;
    outline: none;
}

 .right .open-menu{
    font-size:2rem;
    margin:5px;
    display: none;
    cursor:pointer;
}
.right .nav-menu .close-menu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.recipe-container{
    height: 50px;
    width:100vw;
    margin-bottom:10px;
    padding:5px;
    text-align: center;
  
    color:yellow;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
   
}

.hero-section1{
    display: none ;
   flex-wrap: wrap;
   justify-content: space-evenly;
   height: 100vh;
   width: 100vw;
   margin:10px;
}
/* CSS Styles for Recipe Cards */
.recipe {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 200px; /* Adjust the width as needed */
    text-align: center;
    height: auto;
    overflow: hidden;
}
.recipe .view-recipe{
    height:40px;
    background-color: #e11d48;
    color:white;
    border: none;
    border-radius: 3px;
    outline:none;
    cursor: pointer;

}
.recipe .view-recipe:hover{
    background-color: #f43f5e;
}
.recipe h3{
    color: #6d28d9;
    font-size: 17px;
    font-weight: 600;
}
.recipe p{
    font-size: 12px;
    color: #4a4a4a;
}
.recipe span{
    font-weight: 600;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}




.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.hero-section .left-section{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin:20px;

    justify-content: center;

}
.hero-section .left-section h1{
    font-size: 70px;
    margin-left: 35px;
   font-family: 'Rubik', sans-serif;
   color:lightgray;

}
.hero-section .left-section span{
    font-size: 70px;
    margin-left: 35px;
   font-family: 'Rubik', sans-serif;
   color:#f43f5e;
   display: inline-block;
}
.hero-section .left-section p{
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 35px;
    margin-right: 0px;
color:lightgray;
    text-align:start;
}
.hero-section .left-section .buttons{
    display: flex;
    height: 60px;
    width: 400px ;
}
.hero-section .left-section .button1{
    margin-left:35px;
    height: 50px;
    width: 120px;
    padding:10px ;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.hero-section .left-section .button2{
    margin-left:35px;
    height: 50px;
    width: 120px;
    padding:10px ;
   background-color: lightgray;
   font-size: 15px;
   font-weight: 500;
   border: none;
   border-radius: 4px;
   cursor:pointer
}
.hero-section .image-section{
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-section .image-section img{
    height: 80vh;
    width: 40vw;
    margin:20px
}
.featured-recipe{
    height:90vh;
    width:100vw;
    margin-top:20px;

}
.featured-recipe h1{
    color: yellow;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    margin:20px 50px;
}


.featured-recipe .card-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.featured-recipe .card-section .card {
    width: 20vw;
    height: 70vh;
    background-color: #27272a;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
 }
 
 #card1 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     margin: 10px;
     gap:5px;

   
 }
 
 #card1 img {
     height: 70%;
     width: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 5px;
 }
 
 #card1 h3 {
     color: yellow;
     font-size: 20px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     margin:8px;
 }
 
 #card1 p {
     color: lightgray;
     font-size: 13px;
     margin: 2px;
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
     text-align: center;
 }
 
 #card1 button {
     height: 35px;
     width: 90px;
    width: 100%;
     background-color: #f43f5e;
     color: white;
     font-size: 15px;
     font-weight: 500;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 #card1 button:hover {
     background-color: #ff4f6d;
 }
 /* Styling for card 2 */

 #card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap:5px;

  
}

#card2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#card2 h3 {
    color: yellow;
    margin:8px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#card2 p {
    color: lightgray;
    font-size: 13px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card2 button {
    height: 35px;
    width: 90px;
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#card2 button:hover {
    background-color: #ff4f6d;
}

/* Styling for card3 */


#card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap:5px;

  
}

#card3 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#card3 h3 {
    color: yellow;
    margin: 8px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#card3 p {
    color: lightgray;
    font-size: 13px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card3 button {
    height: 35px;
    width: 90px;
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#card3 button:hover {
    background-color: #ff4f6d;
}

/* Styling for card 4 */

#card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    gap:5px;

  
}

#card4 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

#card4 h3 {
    color: yellow;
    margin: 8px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#card4 p {
    color: lightgray;
    font-size: 13px;
    margin: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card4 button {
    height: 35px;
    width: 90px;
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#card4 button:hover {
    background-color: #ff4f6d;
}

@media(max-width:900px){
   

    .left h1{
        display: none;
    }
    .left span{
        display: none;
    }
   .right .nav-menu{
    height: 100vh;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    transition: top 1s ease;
    display: none;
   }
.right .nav-menu .close-menu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.right .open-menu{
    display: block;
}

.right .nav-menu li:hover{
    background:none;
    color: #27272a;
    font-size: 1.6rem;
}

#search button{
    height: 35px;
    width: 80px;
    padding:5px;
   
}
 #search button:hover{
    background-color: #f43f5e;
    transition:0.5s;
    delay:0.5s;
}

 #search span{
    display: inline-block;
}
 #search input{
    height: 35px;
    width: 170px;
    
}




    .recipe-container{
        font-size: 10px;
       height: 40px;
    }
    .hero-section{
        flex-direction: column-reverse;
        align-items: space-evenly;
        justify-content: space-evenly;
        margin: 10px;
        gap: 20px;
       
    }
    .hero-section .image-section{
        width: 90vw;
        height: 50vh;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        align-items: space-evenly;
        justify-content: center;
    
    }
    .hero-section .image-section img{
        height: 40vh;
        width: 90vw;
        margin-top:20px;
    }
    .hero-section .left-section{
        width: 90vw;
        height: 60vh;
        margin:5px;

    }

    .hero-section .left-section h1{
        font-size: 35px;
        margin-left: 15px;
        align-items: center;
        justify-content: space-around;
        margin-left: 35px;
      
    }


    
    .hero-section .left-section span{
        
        font-size: 37px;
        margin-left: 35px;
        
      
    }
    .hero-section .left-section p{
        margin-top:10px;
        margin-bottom:10px;
        margin-left: 35px;
        margin-right: 0px;
    color:lightgray;
    font-size: 14px;
        text-align:start;
        width: 80vw;
    }
    .hero-section .left-section .buttons{
       margin-top:10px;
      
    }
    .hero-section .left-section .button1{
        
        height: 40px;
        width: 100px;
        padding:5px ;
       font-size: 14px;
    }
    .hero-section .left-section .button2{
       
        height: 40px;
        width: 100px;
        padding:5px ;
       font-size: 14px;
      
}
.featured-recipe h1{
   
    font-size: 25px;
 
    margin:10px 50px;
}
.featured-recipe .card-section{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
}
.featured-recipe .card-section .card {
    width: 90vw;
    height: 40vh;
    background: linear-gradient(45deg, #272727, #1a1a1a);
    margin: 10px;
    border-radius: 4px;
   
 }

 #card1 { 
    padding: 10px;
    margin: 2px;
 
}
#card1 img {
    height: 75%;
    width: 100%;
    border-radius: 8px;
}
#card1 h3 {
    color: yellow;
    font-size: 16px;
    margin:2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
#card1 p {
    color: lightgray;
    font-size: 12px;
   margin: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card1 button {
    height: 40px;
   
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Styling card 2 */

#card2 { 
    padding: 10px;
    margin: 2px;
 
}
#card2 img {
    height: 75%;
    width: 100%;
    border-radius: 8px;
}
#card2 h3 {
    color: yellow;
    font-size: 16px;
    margin:2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
#card2 p {
    color: lightgray;
    font-size: 12px;
   margin: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card2 button {
    height: 40px;
   
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* Styling for card 3 */

#card3 { 
    padding: 10px;
    margin: 2px;
 
}
#card3 img {
    height: 75%;
    width: 100%;
    border-radius: 8px;
}
#card3 h3 {
    color: yellow;
    font-size: 16px;
    margin:2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
#card3 p {
    color: lightgray;
    font-size: 12px;
   margin: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card3 button {
    height: 40px;
   
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#card4 { 
    padding: 10px;
    margin: 2px;
 
}
#card4 img {
    height: 75%;
    width: 100%;
    
    border-radius: 8px;
}
#card4 h3 {
    color: yellow;
    font-size: 16px;
    margin:2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
#card4 p {
    color: lightgray;
    font-size: 12px;
   margin: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#card4 button {
    height: 40px;
   
   width: 100%;
    background-color: #f43f5e;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
}